<!-- Sección 4 Hard y Soft Skill (Habilidades)-->

<Section>
    <div class="row">
      <div class="texto1">
          <h1>Habilidades</h1><br>
                 <div class="texto-row">
                       <p class="texto-gris">Realice una selección de aquellas habilidades que caracterizan mi desempeño laboral:</p> 
                          <div class="ui-widgets">
                              <div class="ui-values">80%</div>
                              <div class="ui-labels">Diseño de Procesos</div>
                          </div>                 
                          <div class="ui-widgets">
                              <div class="ui-values">70%</div>
                              <div class="ui-labels">Lenguisticas</div>
                          </div>
                          <div class="ui-widgets">
                              <div class="ui-values">70%</div>
                              <div class="ui-labels">Gestión de equipos</div>
                          </div>
                          <div class="ui-widgets">
                              <div class="ui-values">80%</div>
                              <div class="ui-labels">Autocrítica</div>           
                          </div> 
                          <div class="ui-widgets">
                              <div class="ui-values">70%</div>
                              <div class="ui-labels">Proactividad</div>           
                          </div>
                          <div class="ui-widgets">
                              <div class="ui-values">90%</div>
                              <div class="ui-labels">Adaptabilidad</div>           
                          </div>
                   </div>
        </div>
        <div class="iconos-der">
        <a href="#"> <i class="fas fa-edit" ></i></a>
     </div>
  </div>        
</Section>
