<!-- Seccion 3 Educación -->
<section>
    <div class="row">
        <div class="texto1">
            <h1>Educación</h1> <br>  
                <dl>
                     <div class="texto-row">
                            <dt>
                                <a href="https://www.argentina.gob.ar/inti"> <img src="https://github.com/Amilcar2183/PorfolioMACV1/blob/master/img/logoInti.png?raw=true" width="100" alt="Logo Inti" ></a>
                                <div class="texto-row">
                                <h2>Instituto Nacional de Tecnología Industrial</h2>
                                </div>
                            </dt> 
                              <br>                               
                                <dd>
                                    <br>
                                     <h3> Curso - Argentina Programa. Estudiante.
                                    </h3> 
                                </dd> 
                                    <br>
                            <dt> 
                                <a href="https://www.uba.ar/#/"> <img src="https://github.com/Amilcar2183/PorfolioMACV1/blob/master/img/uba.png?raw=true" width="100" alt="Logo Universidad de Buenos Aires"></a> 
                                <div class="texto-row">
                                    <h2> Universidad de Buenos Aires (UBA) Argentina</h2>
                                </div>
                            </dt>
                                <dd> 
                                    <br>               
                                    <h3>Maestría de Gestión Pública y Desarrollo Gubernamental - Maestrando. En proceso de entrega de tésis</h3>
                                     <br>
                                </dd>
                                <dd> 
                                    <br>               
                                    <h3>Curso de Posgrado en “Coaching Emocional y Organizacional _ Nivel I". Finalizado.</h3>
                                     <br>
                                </dd>  
                                 <dd>
                                    <br>               
                                    <h3>Licenciatura en Administración.</h3>
                                    <br>
                                </dd>  
                                 
                                     <br>                                                
                            <dt> 
                                    <a href="https://utn.edu.ar/es/"><img src="https://github.com/Amilcar2183/PorfolioMACV1/blob/master/img/logoUTN3.JPEG?raw=true" width="100" alt="Logo Universidad Tecnológica Nacional">
                                     </a>         
                                    <div class="texto-row">
                                    <h2> Universidad Tecnológica Nacional- Facultad regional de Buenos Aires 
                                     </h2>
                                    </div>
                            </dt>   
                                <br>
                                <dd>                        
                                    <h3>Programa Ejecutivo Project Management. Finalizado.</h3>
                                    <br>
                                </dd>
                                     <br>
                        </div>
                </dl>
            </div>
        <div class="iconos-der">
        <a href="#"> <i class="fas fa-edit" ></i></a>
        </div>
    </div>   
  </section>
