
<!--Sección Participación en Proyectos-->

<section>
    <div class="row">
        <div class="texto1">
            <h1>Proyectos</h1> <br>  
                <dl>
                     <div class="texto-row">
                            <dt>
                                <a href="https://github.com/Amilcar2183/PorfolioMACV1"><img src="https://github.com/Amilcar2183/PorfolioMACV1/blob/master/img/logoArgPrograma.png?raw=true" width="100" ></a> 
                                <div class="texto-row">
                                <h2>Mi Portfolio - Argentina Programa </h2>
                                </div>
                            </dt> 
                                 <dd> 
                                        <br>               
                                        <h3>Proyecto desarrollado individualmente</h3>
                                         <br>
                                    </dd> 
                            <dt>
                                <a href="https://www.bancomundial.org/es/news/video/2012/11/19/what-is-plan-nacer"><img src="https://github.com/Amilcar2183/PorfolioMACV1/blob/master/img/Logo%20-%20PLAN_NACER.jpg?raw=true" width="100" alt="Logo Plan Nacer"></a> 
                                 <h2>Base de datos Plan Nacer </h2>
                                      
                                
                            </dt>
                            <dd> 
                                <br>               
                                <h3>Particiación en el desarrollo de consutas en SQL para las busquedas de beneficiarios que no se correspondan con los requisitos de pertenencia al plan.</h3>
                                 <br>
                            </dd> 
                                    
                                         <br>     
                        </div>
                    </dl>
             
        </div>
       
    <div class="iconos-der">
        <a href="#"> <i class="fas fa-edit" ></i></a>
     </div>
    </div>
  </section>