<!--Nav-->

<nav>
    <div class="navlinks-iz">
                                                
           <a href="https://www.argentina.gob.ar/produccion/       transformacion-digital-y-economia-del-conocimiento/argentina-programa"> <img src="https://github.com/Amilcar2183/PorfolioMACV1/blob/master/img/logoArgPrograma.png?raw=true" width="80px" alt="Argentina Programa" ></a>
          
           <a href="https://www.argentina.gob.ar/produccion/argentina-programa/segunda-etapa"><div class="texto-blanco" width="100"><h2 style="color: white" font-size="30px">#YoProgramo</h2></div></a>
          
      </div>
     
    <div class="navlinks">
        <ul>
            ><li><a href="https://www.instagram.com/amilc1704/"><i class="fab fa-instagram"></i></a></li>
            <li><a href="https://ar.linkedin.com/in/amilcar-correa-81074068"><i class="fa-brands fa-linkedin"></i></a></li>
            <li><a href="#" class="boton">Login</a></li>
         </ul>
    </div>
  </nav>
  
  <!--header-->
  
  <header>
    <div class="fondo"></div>
          <div class="row">
                <div class="header-izq">
                     <div class="foto-perfil">
                        <img src="https://github.com/Amilcar2183/PorfolioMACV1/blob/master/img/fotodePerfil.jpg?raw=true">
                     </div>
                     <div class="iconos-der">
                        <a href="#"> <i class="fa-solid fa-pen-to-square"></i> </a>
                     </div>  
                         
                <div class="header-texto">
                        <a href="https://ar.linkedin.com/in/amilcar-correa-81074068?trk=people-guest_people_search-card"><h1>Mario Amilcar Correa</h1></a>
                        <p>Estudiante de Argentina Programa - Licenciado en Administración</p>
                        <p>Buenos Aires, La Matanza , Argentina <a href="#">Información de contacto</a></p>
                        
                    </div>
            <div class="header-botones">
                
                <a href="#" class="boton-azul">Tengo interés en</a>
                <a href="#" class="boton-gris">Añadir sección</a>
                <a href="#" class="boton-gris"  >Más</a>
                
            </div>
        </div>
        <div class="header-der">
            <div class="logos-edu">
                <ul style="list-style-type:none">
                    <li> <a href="https://www.uba.ar/#/"><img src="https://github.com/Amilcar2183/PorfolioMACV1/blob/master/img/uba.png?raw=true"></a></li>
                    <li> <a href="https://utn.edu.ar/es/"><img src="https://github.com/Amilcar2183/PorfolioMACV1/blob/master/img/logoUTN3.JPEG?raw=true" width="100" alt="Logo Universidad Tecnológica Nacional"></a></li>
                    <li><a href="https://www.argentina.gob.ar/inti"><img src="https://github.com/Amilcar2183/PorfolioMACV1/blob/master/img/logoInti.png?raw=true"></a></li>
            </ul>
            </div>
        </div>
    </div>
  </header>
  
